
<h1>Niveau 2</h1>

<div class="row">
	<div class="col-12">
		<form [formGroup]="levelForm" (ngSubmit)="validateAnswers()">

			<!-- Question 1 -->
			<div class="row mb-3">
				<div class="col">
					<div class="mb-3">Question 1 : considérer le code suivant.</div>
					<div><pre><code highlight="const animaux = ['araignée', 'blaireau', 'crocodile'];
const nombreAnimaux = animaux.length;
animaux.push('dauphin');" [languages]="['javascript']"></code></pre></div>
					<div class="mb-3">Que vaut <code>nombreAnimaux</code> après exécution de ce code ?</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" name="q1" id="q1_opt1" value="1" formControlName="q1"/>
						<label for="q1_opt1" class="form-check-label">0</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" name="q1" id="q1_opt2" value="2" formControlName="q1"/>
						<label for="q1_opt2" class="form-check-label">3</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" name="q1" id="q1_opt3" value="3" formControlName="q1"/>
						<label for="q1_opt3" class="form-check-label">4</label>
					</div>
				</div>
			</div>

			<!-- Question 2 -->
			<div class="row mb-3">
				<div class="col">
					<div class="mb-3">Question 2 : considérer le code suivant.</div>
					<div><pre><code highlight="const prenoms = ['alice', 'bob', 'charlie'];
const autresPrenoms = ['david', 'elliott'];
const nouveauxPrenoms = prenoms.concat(autresPrenoms);
nouveauxPrenoms.push('anastasia');" [languages]="['javascript']"></code></pre></div>
					<div class="mb-3">Que contient <code>nouveauxPrenoms</code> après exécution de ce code ?</div>
				</div>
				<div class="form-check">
					<input type="radio" class="form-check-input" name="q2" id="q2_opt1" value="1" formControlName="q2"/>
					<label for="q1_opt1" class="form-check-label">['alice', 'bob', 'charlie']</label>
				</div>
				<div class="form-check">
					<input type="radio" class="form-check-input" name="q2" id="q2_opt2" value="2" formControlName="q2"/>
					<label for="q1_opt2" class="form-check-label">['david', 'elliott', 'alice', 'bob', 'charlie']</label>
				</div>
				<div class="form-check">
					<input type="radio" class="form-check-input" name="q2" id="q2_opt3" value="3" formControlName="q2"/>
					<label for="q1_opt3" class="form-check-label">['anastasia', 'alice', 'bob', 'charlie']</label>
				</div>
				<div class="form-check">
					<input type="radio" class="form-check-input" name="q2" id="q2_opt4" value="4" formControlName="q2"/>
					<label for="q1_opt4" class="form-check-label">['anastasia', 'alice', 'bob', 'charlie', 'david', 'elliott']</label>
				</div>
				<div class="form-check">
					<input type="radio" class="form-check-input" name="q2" id="q2_opt5" value="5" formControlName="q2"/>
					<label for="q1_opt5" class="form-check-label">['alice', 'bob', 'charlie', 'david', 'elliott', 'anastasia']</label>
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>

		</form>
	</div>
</div>
