
<nav class="navbar navbar-expand">
	<div class="navbar-nav nav-justified align-items-baseline">
		<a class="nav-item nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
		<a class="nav-item nav-link" routerLink="/niveaux/1" routerLinkActive="active">Niveau&nbsp;1</a>
		<a class="nav-item nav-link" routerLink="/niveaux/2" routerLinkActive="active">Niveau&nbsp;2</a>
		<a class="nav-item nav-link" routerLink="/niveaux/3" routerLinkActive="active">Niveau&nbsp;3</a>
	</div>
</nav>
