
<h1>Niveau 1</h1>

<div class="row">
	<div class="col-12">
		<form>

			<!-- Question 1 -->
			<div class="row">
				<div class="col">
					<div>Question 1 : quelle syntaxe permet de créer une variable modifiable contenant la valeur "Coucou !" ?</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" name="q1" id="q1_opt1"/>
						<label for="q1_opt1" class="form-check-label">
							<pre><code highlight="message = &quot;Coucou !&quot;;"></code></pre>
						</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" name="q1" id="q1_opt2"/>
						<label for="q1_opt2" class="form-check-label">
							<pre><code highlight="const message = &quot;Coucou !&quot;;" [languages]="['javascript']"></code></pre>
						</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" name="q1" id="q1_opt3"/>
						<label for="q1_opt3" class="form-check-label">
							<pre><code highlight="let message = &quot;Coucou !&quot;;" [languages]="['javascript']"></code></pre>
						</label>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>
