
<p>
	Bienvenue sur Javascript Missions, la solution fun pour apprendre / réviser Javascript !
</p>

<p>
	Retrouvez des questionnaires, des exercices de code et des missions interactives qui vous permettront d'apprendre et/ou réviser les bases du langage et sa syntaxe,
	d'améliorer vos compétences en algorithmie et en résolution de problème, le tout de manière ludique. Car on apprend mieux en s'amusant !
</p>

<p>
	Alors, prêt à relever le défi et à devenir un pro du Javascript ? Let's go ! 🚀
</p>
